.page-logotype {
    display: block;
    width: 56px;
    img {
        max-width: 100%;
    }
}

.page-logotype--big {
    width: 90px;
}

.page-header {
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.page-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// NAVIGATION

.page-navigation__list {
    display: flex;
}

.page-navigation__link {
    display: block;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    transition: all .1s linear;
    &:hover {
        text-decoration: underline;
    }
    &:active {
        color: #fff;
    }
}

.page-navigation__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.page-header__right {
    display: flex;
    align-items: center;
}

.steam-link, .xbox-link {
    width: 30px;
    height: 30px;
    display: inline-block;
    svg {
        width: 100%;
        height: 100%;
        fill: #FFB548;
        transition: all .1s linear;
        &:hover{
            fill: white;
        }
    }
    margin-left: 15px;
}


